swagger: '2.0'
info:
  version: '0.5'
  title: AdvanceBooking
  description: User API for booking slots in advance
  contact:
    email: timothy.d.drysdale@gmail.com
    name: Tim Drysdale
    url: https://practable.io
host: book.practable.io
basePath: /api/v1
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header 
schemes:
  - http
consumes:
- application/json
- text/plain
produces:
- application/json
- text/plain

paths:

  /admin/bookings:
    get:
      description: Exports a copy of the current bookings, with sufficient information to allow editing and replacement. If successful produces JSON-formatted bookings list.
      summary: Export a copy of all current bookings
      tags:
      - admin
      operationId: ExportBookings
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/Bookings'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      summary: Replace current bookings 
      description: Deletes all current bookings, refunds usage to users, and then replaces with current bookings. Existing users are retained, new users are created as required to match bookings.
      tags:
      - admin
      operationId: ReplaceBookings
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: bookings
        in: body
        required: true
        schema:
          $ref: '#/definitions/Bookings'
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusAdmin'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /admin/bookings/{booking_name}:
    get:
      summary: Export one current booking for editing
      description: Returns the booking together with the opaque revision required to replace it. Preserve the envelope when editing and upload it with PUT.
      tags:
      - admin
      operationId: ExportBookingForEdit
      produces:
      - application/json
      parameters:
      - name: booking_name
        in: path
        required: true
        type: string
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookingEdit'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      summary: Atomically replace one unstarted booking
      description: Supersedes the original booking and inserts the replacement in one transaction. The supplied original name and revision must match the exported edit envelope. Exact retries are idempotent; stale, started, or conflicting edits return 409.
      tags:
      - admin
      operationId: ReplaceBooking
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: booking_name
        in: path
        required: true
        type: string
      - name: booking_edit
        in: body
        required: true
        schema:
          $ref: '#/definitions/BookingEdit'
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BookingEdit'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/InternalError'

  /admin/booking-records:
    get:
      summary: Search current and historical bookings
      description: Returns a bounded operational projection without exposing booking data through bulk export syntax.
      tags: [admin]
      operationId: QueryBookingRecords
      parameters:
      - {name: resource, in: query, type: string}
      - {name: slot, in: query, type: string}
      - {name: policy, in: query, type: string}
      - {name: user, in: query, type: string}
      - {name: state, in: query, type: string, enum: [all, current, history, started, cancelled, unfulfilled], default: all}
      - {name: from, in: query, type: string, format: date-time}
      - {name: to, in: query, type: string, format: date-time}
      - {name: limit, in: query, type: integer, format: int64, minimum: 1, maximum: 1000, default: 200}
      security:
      - Bearer: []
      responses:
        200:
          description: OK
          schema:
            type: array
            items: {$ref: '#/definitions/AdminBookingRecord'}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/bookings/{booking_name}/events:
    get:
      summary: Get the durable audit trail for a booking
      tags: [admin]
      operationId: GetBookingEvents
      parameters:
      - {name: booking_name, in: path, required: true, type: string}
      security:
      - Bearer: []
      responses:
        200:
          description: OK
          schema:
            type: array
            items: {$ref: '#/definitions/BookingEvent'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        500: {$ref: '#/responses/InternalError'}

  /admin/manifest:
    get:
      summary: Export the manifest
      description: Export the manifest (resources, slots, policies, descriptions etc). Does not include bookings or users
      tags:
      - admin
      operationId: ExportManifest
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Manifest'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
    put:
      summary: Replace the manifest
      description: Delete the existing manifest and replace it with a new one. All items have specified names so bookings do not need updating (except perhaps you should if booked resources have been removed) 
      tags:
      - admin
      operationId: ReplaceManifest
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: manifest
        in: body
        required: true
        schema:
          $ref: '#/definitions/Manifest'
      security:
        - Bearer: []  
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusAdmin'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'  
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /admin/manifest/check:
    get:
      summary: Check a manifest
      description: Check a manifest is valid. Returns 204 if valid or, 200 with a list of error(s).
      tags:
      - admin
      operationId: CheckManifest
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: manifest
        in: body
        required: true
        schema:
          $ref: '#/definitions/Manifest'
      security:
        - Bearer: []
      responses:
        200:
          $ref: '#/responses/ErrorList'
        204:
          description: OK - manifest is valid
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
            
  /admin/oldbookings:
    get:
      summary: Export a copy of all old bookings
      description: Exports a copy of the old bookings, with sufficient information to allow editing and replacement. If successful produces JSON-formatted bookings list. 
      tags:
      - admin
      operationId: ExportOldBookings
      deprecated: false
      produces:
      - application/json  
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/Bookings'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      summary: Replace old bookings 
      description: Deletes all old bookings, and all users, then replaces both according to the bookings in the request, i.e. users and their usage are created as required to match bookings.
      tags:
      - admin
      operationId: ReplaceOldBookings
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: bookings
        in: body
        required: true
        schema:
          $ref: '#/definitions/Bookings'
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusAdmin'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /admin/resources:
    get:
      description: Gets a list of all resources, including their availability and any tests specified
      summary: Get the list of resources in the manifest
      tags:
      - admin
      operationId: GetResources
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Resources'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /admin/operations:
    get:
      summary: Get operational dashboard summary
      description: Returns the active manifest version, store status, and effective availability for every resource and slot in one admin request.
      tags:
      - admin
      operationId: GetOperationalStatus
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationalStatus'
        401:
          $ref: '#/responses/Unauthorized'
        500:
          $ref: '#/responses/InternalError'

  /admin/operational-occurrences:
    get:
      summary: List scheduled operational occurrences
      description: Returns a bounded authoritative list of planned, skipped, conflicted, or missed schedule occurrences.
      tags: [admin]
      operationId: ListOperationalOccurrences
      produces: [application/json]
      security:
        - Bearer: []
      parameters:
      - {name: from, in: query, type: string, format: date-time}
      - {name: until, in: query, type: string, format: date-time}
      - {name: state, in: query, type: string, enum: [planned, skipped, conflict, missed]}
      - {name: limit, in: query, type: integer, format: int64, minimum: 1, maximum: 500, default: 200}
      responses:
        200:
          description: OK
          schema:
            type: array
            items: {$ref: '#/definitions/OperationalOccurrence'}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/operational-alerts:
    get:
      summary: List actionable operational alerts
      tags: [admin]
      operationId: ListOperationalAlerts
      produces: [application/json]
      security: [{Bearer: []}]
      parameters:
      - {name: status, in: query, type: string, enum: [active, open, acknowledged, resolved, all], default: active}
      - {name: limit, in: query, type: integer, format: int64, minimum: 1, maximum: 1000, default: 200}
      responses:
        200:
          description: OK
          schema: {type: array, items: {$ref: '#/definitions/OperationalAlert'}}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/operational-alerts/{alert_id}/acknowledge:
    post:
      summary: Acknowledge an operational alert
      tags: [admin]
      operationId: AcknowledgeOperationalAlert
      produces: [application/json]
      security: [{Bearer: []}]
      parameters:
      - {name: alert_id, in: path, required: true, type: integer, format: int64}
      responses:
        200: {description: OK, schema: {$ref: '#/definitions/OperationalAlert'}}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        500: {$ref: '#/responses/InternalError'}

  /admin/operational-alerts/{alert_id}/resolve:
    post:
      summary: Resolve an operational alert without changing technician suspension
      tags: [admin]
      operationId: ResolveOperationalAlert
      produces: [application/json]
      security: [{Bearer: []}]
      parameters:
      - {name: alert_id, in: path, required: true, type: integer, format: int64}
      responses:
        200: {description: OK, schema: {$ref: '#/definitions/OperationalAlert'}}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        500: {$ref: '#/responses/InternalError'}

  /admin/operational-health:
    get:
      summary: List latest automated stream-health decisions
      tags: [admin]
      operationId: ListOperationalHealth
      produces: [application/json]
      security: [{Bearer: []}]
      responses:
        200:
          description: OK
          schema: {type: array, items: {$ref: '#/definitions/OperationalStreamHealth'}}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/resources/{resource_name}/streams/{stream_name}/health-checks:
    post:
      summary: Reserve a resource and run its manifest-approved stream health pipeline
      tags: [admin]
      operationId: BeginOperationalHealthCheck
      produces: [application/json]
      security: [{Bearer: []}]
      parameters:
      - {name: resource_name, in: path, required: true, type: string}
      - {name: stream_name, in: path, required: true, type: string}
      - {name: Idempotency-Key, in: header, required: true, type: string, minLength: 1, maxLength: 200}
      responses:
        202: {description: Health check reserved and queued, schema: {$ref: '#/definitions/BookingActivation'}}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /admin/resource-holds:
    get:
      summary: List resources deliberately held offline by technicians
      tags: [admin]
      operationId: ListResourceHolds
      produces: [application/json]
      security: [{Bearer: []}]
      responses:
        200:
          description: OK
          schema: {type: array, items: {$ref: '#/definitions/ResourceHold'}}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/resource-holds/{resource_name}/release:
    post:
      summary: Request verified release or explicitly release as degraded
      description: Atomically records a pending release and queues one durable maintenance activation covering every manifest-designated health-check stream. The resource remains held until each stream passes once. Providing override_reason performs an explicit degraded release instead.
      tags: [admin]
      operationId: RequestResourceRelease
      produces: [application/json]
      security: [{Bearer: []}]
      parameters:
      - {name: resource_name, in: path, required: true, type: string}
      - {name: override_reason, in: query, type: string}
      responses:
        202: {description: Verification requested or degraded release recorded, schema: {$ref: '#/definitions/ResourceReleaseState'}}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /admin/resource-releases:
    get:
      summary: List pending, verified, and degraded resource releases
      tags: [admin]
      operationId: ListResourceReleases
      produces: [application/json]
      security: [{Bearer: []}]
      responses:
        200: {description: OK, schema: {type: array, items: {$ref: '#/definitions/ResourceReleaseState'}}}
        401: {$ref: '#/responses/Unauthorized'}
        500: {$ref: '#/responses/InternalError'}

  /admin/usage:
    get:
      summary: Get actual equipment usage
      description: Returns restart-safe actual use derived from booking activation, cancellation and end timestamps. Live bookings accrue to the report time.
      tags:
      - admin
      operationId: GetUsageSummary
      produces:
      - application/json
      parameters:
      - {name: resource, in: query, type: string}
      - {name: slot, in: query, type: string}
      - {name: policy, in: query, type: string}
      - {name: user, in: query, type: string}
      - {name: from, in: query, type: string, format: date-time}
      - {name: to, in: query, type: string, format: date-time}
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UsageSummary'
        401:
          $ref: '#/responses/Unauthorized'
        500:
          $ref: '#/responses/InternalError'

  /admin/maintenance/bookings:
    post:
      summary: Create a maintenance booking
      description: Creates a resource-constrained booking for a technician. It may use suspended equipment but never overlaps any existing booking. Requires booking:maintenance or booking:admin.
      tags:
      - admin
      operationId: MakeMaintenanceBooking
      produces:
      - application/json
      parameters:
      - name: slot_name
        in: query
        required: true
        type: string
      - name: from
        in: query
        required: true
        type: string
        format: date-time
      - name: to
        in: query
        required: true
        type: string
        format: date-time
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Booking'
        401:
          $ref: '#/responses/Unauthorized'
        409:
          $ref: '#/responses/Conflict'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /admin/resources/{resource_name}/maintenance-bookings:
    post:
      summary: Create a maintenance booking by physical resource
      description: Selects an appropriate slot for the resource, may use suspended equipment, and never overlaps another resource-constrained booking.
      tags: [admin]
      operationId: MakeResourceMaintenanceBooking
      parameters:
      - {name: resource_name, in: path, required: true, type: string}
      - {name: from, in: query, required: true, type: string, format: date-time}
      - {name: to, in: query, required: true, type: string, format: date-time}
      security:
      - Bearer: []
      responses:
        200:
          description: OK
          schema: {$ref: '#/definitions/Booking'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /admin/booking-overrides/{booking_name}/cancel:
    post:
      summary: Cancel a booking for urgent maintenance
      description: Cancels an eligible booking with a mandatory operational reason. Requires booking:booking-override or booking:admin.
      tags:
      - admin
      operationId: OverrideCancelBooking
      parameters:
      - name: booking_name
        in: path
        required: true
        type: string
      - name: reason
        in: query
        required: true
        type: string
      security:
        - Bearer: []
      responses:
        204:
          description: OK
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/InternalError'
    
      
  /admin/resources/{resource_name}:
    get:
      description: Gets availability of the named resource, including its status message. Resource suspension applies to every slot using that resource.
      summary: Get the availability of the resource
      tags:
      - admin
      operationId: GetResourceIsAvailable
      deprecated: false
      produces:
      - application/json
      parameters:
        - name: resource_name
          in: path
          type: string
          required: true            
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResourceStatus'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      description: Sets the availability of a resource, including a status message. Used to prevent users accessing equipment that should not be used, e.g. after failing an automated test, or make it available again after fixing it.
      summary: Set the availability of the resource
      tags:
      - admin
      operationId: SetResourceIsAvailable
      deprecated: false
      parameters:
      - name: resource_name
        in: path
        type: string
        required: true   
      - name: available
        in: query
        type: boolean
        required: true
      - name: reason
        in: query
        type: string
        required: true
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        204:
          description: OK
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /admin/slots/{slot_name}:
    get:
      description: Gets the availability of the underlying resource for the slot, including a status message. Indicates when equipment is offline temprorarily, e.g. due to failing an automated test.
      summary: Get the availability of the slot
      tags:
      - admin
      operationId: GetSlotIsAvailable
      deprecated: false
      produces:
      - application/json
      parameters:
        - name: slot_name
          in: path
          type: string
          required: true            
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResourceStatus'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      description: Sets availability for only the named slot, including a status message. Use the resource endpoint to suspend every slot sharing equipment after a failed health check.
      summary: Set the availability of the slot 
      tags:
      - admin
      operationId: SetSlotIsAvailable
      deprecated: false
      parameters:
      - name: slot_name
        in: path
        type: string
        required: true   
      - name: available
        in: query
        type: boolean
        required: true
      - name: reason
        in: query
        type: string
        required: true
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        204:
          description: OK
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /admin/status:
    get:
      description: Gets a count of the number of elements in the store, e.g. Bookings, Descriptions etc to facilitate a necessary but not sufficient check that replace manifest and replace bookings have produced the correct results.
      summary: Get current store status
      tags:
      - admin
      operationId: getStoreStatusAdmin
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusAdmin'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      description: Persistently pause or resume new booking creation. Reading, cancellation, and take-up remain available; resource or slot suspension controls unsafe take-up.
      summary: set/release booking lock
      tags:
      - admin
      operationId: setLock
      deprecated: false
      parameters:
      - name: lock
        in: query
        required: true
        type: boolean
        description: pause new booking creation
      - name: msg
        in: query
        required: false
        type: string
        description: set message of the day (use query so it can be seen in server logs)        
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusAdmin'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /admin/users:
    get:
      summary: Export users
      description: Export bookings and usage data for each user
      tags:
      - admin
      operationId: ExportUsers
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Users'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /descriptions/{description_name}:
    get:
      summary: Get description 
      description: Get description
      tags:
      - users
      operationId: GetDescription
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: description_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []  
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Description'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'  
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /calendar/catalog/{group_name}:
    get:
      summary: Get the calendar-oriented experiment catalogue for a group
      description: Returns one experiment class per policy, including descriptions, recommended duration, booking increment, and candidate resources.
      tags:
      - users
      operationId: GetCalendarCatalogue
      parameters:
      - name: group_name
        in: path
        required: true
        type: string
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalendarCatalogue'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /calendar/availability:
    post:
      summary: Query aggregate availability for a calendar range
      description: Returns sampled availability counts for a policy pool optionally narrowed by resource or structured properties. It never reveals other users.
      tags:
      - users
      operationId: QueryCalendarAvailability
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CalendarAvailabilityRequest'
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalendarAvailability'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /calendar/preview:
    post:
      summary: Preview an exact calendar booking
      description: Validates policy, usage, resource matching, and current availability without reserving capacity. A successful preview is advisory and must be revalidated during creation.
      tags:
      - users
      operationId: PreviewCalendarBooking
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CalendarBookingRequest'
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalendarBookingPreview'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /calendar/bookings:
    post:
      summary: Create a selector-aware calendar booking
      description: Atomically assigns one matching resource and returns the booking. Exact retries with the same user and Idempotency-Key return the original booking; reuse for a different request returns 409.
      tags:
      - users
      operationId: MakeCalendarBooking
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        type: string
        minLength: 8
        maxLength: 200
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CalendarBookingRequest'
      security:
        - Bearer: []
      responses:
        200:
          description: Created or exact retry
          schema:
            $ref: '#/definitions/Booking'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/InternalError'

  /calendar/bookings/{booking_name}:
    patch:
      summary: Move or resize an unstarted booking
      description: Revalidates ownership, policy, usage and availability, then atomically replaces the booking using an optimistic revision.
      tags: [users]
      operationId: RescheduleCalendarBooking
      parameters:
      - {name: booking_name, in: path, required: true, type: string}
      - name: request
        in: body
        required: true
        schema: {$ref: '#/definitions/CalendarBookingEdit'}
      security:
      - Bearer: []
      responses:
        200:
          description: OK
          schema: {$ref: '#/definitions/BookingEdit'}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /operations/jobs/{job_id}/callbacks:
    post:
      summary: Record a job-runner lifecycle callback
      description: Internal service endpoint authenticated by an HMAC over the exact request body, direction, timestamp, and delivery ID. Replaying an identical delivery is idempotent.
      tags: [operations]
      operationId: RecordOperationalJobCallback
      parameters:
      - {name: job_id, in: path, required: true, type: string}
      - {name: X-Book-Timestamp, in: header, required: true, type: string}
      - {name: X-Book-Delivery-ID, in: header, required: true, type: string}
      - {name: X-Book-Direction, in: header, required: true, type: string, enum: [runner-to-book]}
      - {name: X-Book-Signature, in: header, required: true, type: string}
      - name: callback
        in: body
        required: true
        schema: {$ref: '#/definitions/OperationalJobCallback'}
      responses:
        200:
          description: Callback recorded or exact replay acknowledged
          schema: {$ref: '#/definitions/OperationalJobCallbackResult'}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /operations/jobs/{job_id}/activate:
    post:
      summary: Activate an accepted operational job reservation
      description: Internal runner endpoint authenticated by a short-lived HMAC over the exact request. The job-to-booking binding is verified transactionally and exact retries are idempotent.
      tags: [operations]
      operationId: ActivateOperationalJob
      parameters:
      - {name: job_id, in: path, required: true, type: string}
      - {name: X-Book-Timestamp, in: header, required: true, type: string}
      - {name: X-Book-Delivery-ID, in: header, required: true, type: string}
      - {name: X-Book-Direction, in: header, required: true, type: string, enum: [runner-to-book]}
      - {name: X-Book-Signature, in: header, required: true, type: string}
      - name: activation
        in: body
        required: true
        schema: {$ref: '#/definitions/OperationalJobActivation'}
      responses:
        200:
          description: Reservation active; exact retries return the same activity
          schema: {$ref: '#/definitions/Activity'}
        400: {$ref: '#/responses/BadRequest'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}
          
  /groups/{group_name}:
    get:
      summary: Get group 
      description: Get fully described group, including described policies, and described slots
      tags:
      - users
      operationId: GetGroup
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: group_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GroupDescribedWithPolicies'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /login/{user_name}:
    post:
      summary: Request a user access token
      description: The access token is required to authenticate requests to the rest of the user-facing API. Ideally access to this endpoint should be secured by the identity management system. The access token has a limited lifetime but can be re-requested as needed. Consider rate-limiting this per-connection.
      tags:
      - users
      operationId: GetAccessToken
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/AccessToken'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /policies/{policy_name}:
    get:
      summary: Get policy
      description: Get policy
      tags:
      - users
      operationId: GetPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: policy_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PolicyDescribed'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /slots/{slot_name}:
    get:
      summary: Get availability for the slot 
      description: Pagination is supported by the limit and offset parameters. For the first query '?limit=20&offset=0', the second '?limit=20&offset=20'. The offset is equal to the zero-indexed value of the first item of the next page to be returned (20 items are indexed from 0 to 19, so 20 is the first item to be returned in the second page). Note that drift can occur if slots are booked during the sending of availability data, potentially preventing a user from seeing some slots that move earlier in the index and cross a pagination boundary. Users should refresh their results from 0 offset on a regular-ish basis if they wish to avoid this.
      tags:
      - users
      operationId: GetAvailability
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: slot_name
        in: path
        required: true
        type: string
        description: ''
      - name: limit
        in: query
        type: integer
        required: false
      - name: offset
        in: query
        type: integer
        required: false
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Intervals'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    post:
      summary: Request a booking
      description: A booking is requested for a specific combination of policy-slot-user-from-to. Users should check availability first, and only make requests that are likely to be granted. If there is no current availability then requests will be denied. If there is availability, there is still a chance another user requests the same slot just before - whichever request is received by the server first will be allowed, the other denied. The user_name must match the user_name the user logged in with, that is in the authorisation token in the header.
      tags:
      - users
      operationId: MakeBooking
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: slot_name
        in: path
        required: true
        type: string
        description: ''
      - name: user_name
        in: query
        required: true
        type: string
        description: ''
      - name: from
        in: query
        required: true
        type: string
        format: date-time
      - name: to
        in: query
        required: true
        type: string
        format: date-time
      security:
        - Bearer: []
      responses:
        204:
          description: 'OK - No Content'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        409:
          description: 'Conflict - unavailable for the requested interval'
          schema: {}
        500:
          $ref: '#/responses/InternalError'
          
  /users/unique:
    post:
      summary: Request a new, unique username
      description: Generates a unique username that meets the minimum length requirements for the booking system. No security/token needed, because users needs a/this name to login
      tags:
      - users
      operationId: UniqueName
      deprecated: false
      produces:
      - application/json
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/UserName'
        401:
          $ref: '#/responses/Unauthorized'
        500:
          $ref: '#/responses/InternalError'
          
    
  /users/status:
    get:
      description: Gets the current store status from a user perspective (e.g. is it locked? what is the reason?)
      summary: Get current store status
      tags:
      - users
      operationId: getStoreStatusUser
      deprecated: false
      produces:
      - application/json
      security:
        - Bearer: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/StoreStatusUser'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
         
  /users/{user_name}/bookings:
    get:
      summary: Get all current bookings for the user
      description: Get all current bookings for the user. It's assumed that no pagination will be required due to likely policy limits being a couple of bookings per policy and users typically having only a couple of policies. No pagination may cause issues for admins that book hundreds or thousands slots on behalf of students, although it is likely such bookings would be automated so no need to support rapid update of a GUI, at least for now.
      tags:
      - users
      operationId: GetBookingsForUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/Bookings'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /users/{user_name}/bookings/{booking_name}:
    delete:
      summary: Cancel the booking
      description: Cancels an owned booking and revokes active Relay access. A booking:maintenance principal may cancel only its own maintenance booking. Returns 404 on successful cancellation, or if there is no such booking.
      tags:
      - users
      operationId: CancelBooking
      deprecated: false
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      - name: booking_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

    put:
      summary: Request the activity that goes with the booking
      description: Checks if the booking has started or not and if so, returns an activity that can be used to access the booked resource. Since this mutates the state of the booking (from unfulfilled to fulfilled) it is a put not a get.
      tags:
      - users
      operationId: GetActivity
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      - name: booking_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/Activity'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'

  /users/{user_name}/bookings/{booking_name}/activations:
    post:
      summary: Begin durable preparation for a booking
      description: Resolves and starts every configured stream activation pipeline. Maintenance and compatibility clients may select one stream explicitly. Repeating the same Idempotency-Key returns the original activation.
      tags: [users]
      operationId: BeginBookingActivation
      consumes: [application/json]
      produces: [application/json]
      parameters:
      - {name: user_name, in: path, required: true, type: string}
      - {name: booking_name, in: path, required: true, type: string}
      - {name: Idempotency-Key, in: header, required: true, type: string, minLength: 1, maxLength: 200}
      - name: request
        in: body
        required: true
        schema: {$ref: '#/definitions/BookingActivationRequest'}
      security:
        - Bearer: []
      responses:
        202:
          description: Preparation is in progress
          schema: {$ref: '#/definitions/BookingActivation'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        409: {$ref: '#/responses/Conflict'}
        500: {$ref: '#/responses/InternalError'}

  /users/{user_name}/bookings/{booking_name}/activations/{activation_id}:
    get:
      summary: Get booking preparation progress
      tags: [users]
      operationId: GetBookingActivation
      produces: [application/json]
      parameters:
      - {name: user_name, in: path, required: true, type: string}
      - {name: booking_name, in: path, required: true, type: string}
      - {name: activation_id, in: path, required: true, type: string}
      security:
        - Bearer: []
      responses:
        200:
          description: Current preparation state
          schema: {$ref: '#/definitions/BookingActivation'}
        401: {$ref: '#/responses/Unauthorized'}
        404: {$ref: '#/responses/NotFound'}
        500: {$ref: '#/responses/InternalError'}

  /users/{user_name}/groups:
    get:
      summary: Get all current groups for user
      description: Get all current groups for user. This only returns groups that are currently listed within the user's groups. Group data includes a description, but not policies.
      tags:
      - users
      operationId: GetGroupsForUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/GroupsDescribed'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /users/{user_name}/groups/{group_name}:

    post:
      summary: Add group to user account
      description: Add group to the list of groups with which this user is allowed to make bookings
      tags:
      - users
      operationId: AddGroupForUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      - name: group_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        204:
          description: 'OK - No Content'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'          
          
  /users/{user_name}/oldbookings:
    get:
      summary: Get all old bookings for the user
      description: Get all old bookings for the user. It's assumed that no pagination will be required due to likely policy limits including usage limits and users typically having only a couple of policies, although in practice pagination may be useful for heavy users. 
      tags:
      - users
      operationId: GetOldBookingsForUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/Bookings'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
  /users/{user_name}/policies/{policy_name}:
    get:
      summary: Get policy status 
      description: Get policy status for the user
      tags:
      - users
      operationId: GetPolicyStatusForUser
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: user_name
        in: path
        required: true
        type: string
        description: ''
      - name: policy_name
        in: path
        required: true
        type: string
        description: ''
      security:
        - Bearer: []
      responses:
        200:
          description: 'OK'
          schema:
            $ref: '#/definitions/PolicyStatus'
          headers: {}
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/InternalError'
          
definitions:

  OperationalOccurrence:
    type: object
    properties:
      schedule: {type: string}
      occurrence_at: {type: string, format: date-time}
      manifest_version: {type: integer, format: int64}
      state: {type: string, enum: [planned, skipped, conflict, missed]}
      slot: {type: string}
      resource: {type: string}
      workflow: {type: string}
      booking_name: {type: string}
      job_id: {type: string}
      detail: {type: string}
    required: [schedule, occurrence_at, manifest_version, state, slot, resource, workflow]

  OperationalJobActivation:
    type: object
    additionalProperties: false
    properties:
      version: {type: integer, format: int64, enum: [1]}
      job_id: {type: string}
      at: {type: string, format: date-time}
    required: [version, job_id, at]

  OperationalJobCallback:
    type: object
    additionalProperties: false
    properties:
      version: {type: integer, format: int64, enum: [1]}
      job_id: {type: string}
      state: {type: string, enum: [accepted, running, succeeded, failed, cancelled, expired]}
      at: {type: string, format: date-time}
      code: {type: string, description: Stable machine-readable result or failure code}
      error: {type: string}
    required: [version, job_id, state, at]

  OperationalJobCallbackResult:
    type: object
    properties:
      job_id: {type: string}
      state: {type: string}
      duplicate: {type: boolean}
    required: [job_id, state, duplicate]

  AccessToken:
    title: access token
    description: intended use is for users to access the API, and is tied to their user_name.
    type: object
    properties:
      token:
        type: string
      iat:
        description: Issued At
        type: number
        format: unix-timestamp
      nbf:
        description: Not before
        type: number
        format: unix-timestamp
      exp:
        description: Expires At
        type: number
        format: unix-timestamp
      aud:
        description: Audience
        type: string
      sub:
        description: Subject
        type: string
      scopes:
        description: List of scopes
        type: array
        items:
          type: string
          example: user:booking
    required:
    - token
    - nbf
    - exp
    - aud
    - sub
    - scopes
        
  Activity:
    title: activity
    description: An activity represents connection details to instances of pre-agreed resource types such as video, data streams and user interfaces.
    type: object
    properties:
      config:
        description: URL at which to GET the configuration object
        example: https://assets.practable.io/config/experiments/pvna/pvna01-0.0.json
        type: string
        format: url
      description:
        $ref: '#/definitions/Description'
      nbf:
        description: Expires At
        type: number
        format: unix-timestamp
      exp:
        description: Expires At
        type: number
        format: unix-timestamp
      streams:
        description: A list of streams
        type: array
        items:
          $ref: '#/definitions/ActivityStream'
      uis:
        description: User interfaces
        type: array
        items:
          $ref: '#/definitions/UIDescribed'
    required:
    - description
    - exp
    - nbf
    - streams
    - uis

  BookingActivationRequest:
    type: object
    properties:
      stream: {type: string, minLength: 1, maxLength: 200}

  BookingActivationStage:
    type: object
    required: [index, name, state, attempt, maximum_attempts]
    properties:
      index: {type: integer, format: int64, minimum: 0}
      name: {type: string}
      stream: {type: string}
      state:
        type: string
        enum: [waiting, pending, dispatched, accepted, running, succeeded, failed, cancelled, expired]
      attempt: {type: integer, format: int64, minimum: 0}
      maximum_attempts: {type: integer, format: int64, minimum: 1}
      progress_message: {type: string}
      last_error_code: {type: string}
      last_error: {type: string}

  BookingActivation:
    type: object
    required: [id, booking_name, stream, state, cleanup_state, current_stage, progress_message, stages]
    properties:
      id: {type: string}
      booking_name: {type: string}
      stream: {type: string}
      state:
        type: string
        enum: [preparing, active, failed, cancelled, expired, cleaning, closed, cleanup_failed]
      cleanup_state:
        type: string
        enum: [not_required, pending, running, succeeded, failed]
      current_stage: {type: integer, format: int64, minimum: 0}
      recovery_attempt: {type: integer, format: int64, minimum: 0}
      maximum_recovery_attempts: {type: integer, format: int64, minimum: 0, maximum: 5}
      progress_message: {type: string}
      failure_code: {type: string}
      failure_message: {type: string}
      failure_guidance: {$ref: '#/definitions/OperationalFailureGuidance'}
      degraded: {type: boolean}
      degraded_reason: {type: string}
      unavailable_streams: {type: array, items: {type: string}}
      stages:
        type: array
        items: {$ref: '#/definitions/BookingActivationStage'}
      recovery_stages:
        type: array
        items: {$ref: '#/definitions/BookingActivationStage'}
      cleanup_stages:
        type: array
        items: {$ref: '#/definitions/BookingActivationStage'}
    
  ActivityStream:
    title: stream
    description: Represents an assigned, valid booking slot for an individual piece of equipment
    type: object
    properties:
      audience:
        type: string
      connection_type:
        type: string
      for:
        description: Describes the stream, and doubles as template key in the URL
        example: video
        type: string
      prefix:
        description: prefix of the relay routing
        example: session
        type: string
      scopes:
        type: array
        items:
          type: string
      topic:
        type: string
      token:
        description: signed jwt token for accessing the stream
        type: string
      url:
        description: URL at which to obtain access to the stream (getting a redirect URL containing a one time code)
        example: https://relay-access.practable.io/session/abc123
        type: string
    required:
    - audience
    - connection_type
    - for
    - scopes
    - topic
    - url
    
  Booking:
    title: booking
    description: A booking represents a promise to supply an activity. The booleans are not required because we don't process the booking status when loading old bookings (all old bookings are assumed to have been good bookings)
    type: object
    properties:
      cancelled:
        description: Has the booking been cancelled?
        type: boolean
      cancelled_at:
        description: time the booking was cancelled
        type: string
        format: date-time
      cancelled_by:
        description: who cancelled the booking, e.g. auto-grace-expired, admin or user
        example: auto-grace-expired
        type: string
      name:
        description: unique name of the booking
        type: string
      maintenance:
        description: operator-only booking allowed to take up a suspended resource
        type: boolean
      policy:
        description: policy under which the booking was made
        type: string
      slot:
        description: name of the slot that has been booked
        type: string
      started:
        description: has the booking been started by the user?
        type: boolean
      started_at:
        description: time the booking was first started by the user
        type: string
        format: date-time
      unfulfilled:
        description: was the resource unavailable
        type: boolean
      user:
        description: name of the user who made the booking
        type: string
      usage_charged:
        description: how much usage was actually charged for this booking
        type: string
      when:
        $ref: '#/definitions/Interval'
    required:
    - name
    - policy
    - slot
    - user
    - when

  AdminBookingRecord:
    type: object
    properties:
      booking:
        $ref: '#/definitions/Booking'
      resource:
        type: string
      collection:
        type: string
        enum: [current, history]
      actual_usage:
        type: string
    required: [booking, resource, collection, actual_usage]

  BookingEvent:
    type: object
    properties:
      booking_name: {type: string}
      type: {type: string}
      occurred_at: {type: string, format: date-time}
      actor: {type: string}
    required: [booking_name, type, occurred_at, actor]

  Bookings:
    description: list of bookings
    type: array
    items:
      $ref: '#/definitions/Booking'

  BookingEdit:
    title: booking edit
    description: An editable booking and the opaque revision required to replace it.
    type: object
    properties:
      original_name:
        description: Name of the booking that was exported. Do not change this field.
        type: string
      revision:
        description: Opaque optimistic-concurrency token returned by the server.
        type: integer
        format: int64
      booking:
        $ref: '#/definitions/Booking'
    required:
    - original_name
    - revision
    - booking

  CalendarSelector:
    type: object
    properties:
      policy:
        type: string
      resource:
        type: string
      properties:
        type: object
        additionalProperties:
          type: string
    required:
    - policy

  CalendarResource:
    type: object
    properties:
      name:
        type: string
      class:
        type: string
      properties:
        type: object
        additionalProperties:
          type: string
      activation_streams:
        type: array
        items:
          type: string
      degraded:
        type: boolean
        description: true when a technician explicitly released the resource with known failed checks
      degraded_reason:
        type: string
      unavailable_streams:
        type: array
        items:
          type: string
    required:
    - name

  CalendarCatalogueItem:
    type: object
    properties:
      policy:
        type: string
      description:
        $ref: '#/definitions/Description'
      recommended_duration:
        type: string
      booking_increment:
        type: string
      resources:
        type: array
        items:
          $ref: '#/definitions/CalendarResource'
    required:
    - policy
    - description
    - booking_increment
    - resources

  CalendarCatalogue:
    type: array
    items:
      $ref: '#/definitions/CalendarCatalogueItem'

  CalendarAvailabilityRequest:
    type: object
    properties:
      user_name:
        type: string
      selector:
        $ref: '#/definitions/CalendarSelector'
      from:
        type: string
        format: date-time
      to:
        type: string
        format: date-time
      duration:
        type: string
      resolution:
        type: string
    required:
    - user_name
    - selector
    - from
    - to
    - duration
    - resolution

  CalendarAvailabilityBand:
    type: object
    properties:
      start:
        type: string
        format: date-time
      end:
        type: string
        format: date-time
      matching_resources:
        type: integer
        format: int64
      degraded_resources:
        type: integer
        format: int64
      bookable:
        type: boolean
      reason:
        type: string
      operating_mode:
        type: string
    required:
    - start
    - end
    - matching_resources
    - bookable
    - operating_mode

  CalendarAvailability:
    type: array
    items:
      $ref: '#/definitions/CalendarAvailabilityBand'

  CalendarBookingRequest:
    type: object
    properties:
      user_name:
        type: string
      selector:
        $ref: '#/definitions/CalendarSelector'
      when:
        $ref: '#/definitions/Interval'
    required:
    - user_name
    - selector
    - when

  CalendarBookingEdit:
    type: object
    properties:
      user_name: {type: string}
      revision: {type: integer, format: int64}
      selector: {$ref: '#/definitions/CalendarSelector'}
      when: {$ref: '#/definitions/Interval'}
    required: [user_name, revision, selector, when]

  CalendarBookingPreview:
    type: object
    properties:
      when:
        $ref: '#/definitions/Interval'
      selector:
        $ref: '#/definitions/CalendarSelector'
      matching_resources:
        type: array
        items:
          type: string
      bookable:
        type: boolean
      reasons:
        type: array
        items:
          type: string
      usage_after:
        type: string
      usage_limit:
        type: string
      manifest_version:
        type: integer
        format: int64
      operational_effects:
        type: array
        items:
          type: string
      degraded_resources:
        type: array
        description: bookable resources currently offered with known unavailable streams
        items:
          $ref: '#/definitions/CalendarResource'
    required:
    - when
    - selector
    - matching_resources
    - bookable
    - usage_after
    - manifest_version
    - operational_effects

  Description:
    title: description
    description: Description of a resource e.g. policy, slot, user interface
    example:
      name: Penduino (basic)
      type: pool
      short: Penduino electromagnetic pendulums with pulsed drive and braking
      long: Some longer description
      further: https://static.practable.io/descriptions/pools/penduino/index.html
      thumb: https://assets.practable.io/images/pools/penduino/thumb.png
      image: https://assets.practable.io/images/pools/penduino/image.png
    type: object
    properties:
      name:
        description: Display name
        example: Penduino (basic)
        type: string
      short:
        description: 140 char max description of the interface in plain text
        example: Interface to the penduino electromagnetic pendulum with variable drive, active braking, short and open circuit loading.
        type: string
      type:
        description: Type of resource being described, e.g. pool, activity, userinterface
        example: userinterface
        type: string
      long:
        description: 280 char additional description of the interface in plain text
        type: string
      further:
        description: URL for further information
        example: https://static.practable.io/info/penduino/ui.html
        type: string
      thumb:
        description: URL of thumbnail image (150x150)
        example: https://assets.practable.io/images/penduino-150x150.png
        type: string
      image:
        description: URL of main image (500x500)
        example: https://assets.practable.io/images/penduino-500x500.png
        type: string
    required:
    - name
    - type

  DisplayGuide:
    type: object
    properties:
      book_ahead:
        type: string
      duration: 
        type: string
      max_slots:
        type: integer
      label:
        description: what to display in the tab heading for these slots
        type: string
    required:
      - book_ahead
      - duration
      - label
      - max_slots
      
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
    required:
      - code
      - message

  ErrorList:
    description: use when there is one or more errors that may need returning, e.g. manifest check issues
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      errors:
        type: array
        items:
          type: string
    required:
      - code
      - message
      - errors

  Group:
    description: group as represented in manifest replace/export operations
    type: object
    properties:
      description:
        type: string
      policies:
        type: array
        items:
          type: string
    required:
      - description
      - policies
        
  GroupDescribed:
    description: group as reported when returning list of groups to user
    type: object
    properties:
      description:
        type: object
        $ref: '#/definitions/Description'
        
  GroupDescribedWithPolicies:
    description: group description with full details of policies included
    type: object
    properties:
      description:
        type: object
        $ref: '#/definitions/Description'
      policies:
        $ref: '#/definitions/PoliciesDescribed'
        
  GroupsDescribed:
    type: object
    additionalProperties:
      $ref: '#/definitions/GroupDescribed'
         
  Interval:
    type: object
    properties:
      start:
        type: string
        format: date-time
      end:
        type: string
        format: date-time

  Intervals:
    type: array
    items:
      $ref: '#/definitions/Interval'

  Manifest:
    title: manifest
    description: Represents resources that can be booked
    type: object
    properties:
      descriptions:
        type: object
        additionalProperties:
          $ref: '#/definitions/Description'
      display_guides:
        type: object
        additionalProperties:
          $ref: '#/definitions/DisplayGuide'
      groups:
        type: object
        additionalProperties:
          $ref: '#/definitions/Group'       
      policies:
        type: object
        additionalProperties:
          $ref: '#/definitions/Policy'
      operational_workflows:
        type: object
        additionalProperties:
          $ref: '#/definitions/OperationalWorkflow'
      operational_schedules:
        type: object
        additionalProperties:
          $ref: '#/definitions/OperationalSchedule'
      operational_job_templates:
        type: object
        additionalProperties: {$ref: '#/definitions/OperationalJobTemplate'}
      operational_pipeline_templates:
        type: object
        additionalProperties: {$ref: '#/definitions/OperationalPipelineTemplate'}
      resources:
        type: object
        additionalProperties:
          $ref: '#/definitions/Resource'
      slots:
        type: object
        additionalProperties:
          $ref: '#/definitions/Slot'
      streams:
        type: object
        additionalProperties:
          $ref: '#/definitions/ManifestStream'
      uis:
        type: object
        additionalProperties:
          $ref: '#/definitions/UI'
      ui_sets:
        type: object
        additionalProperties:
          $ref: '#/definitions/UISet'
      windows:
        type: object
        additionalProperties:
          $ref: '#/definitions/Window'
    required:
    - descriptions
    - policies
    - resources
    - slots
    - streams
    - uis
    - ui_sets
    - windows
    
  ManifestStream:
    title: manifest stream
    description: represents a prototype stream as described in manifest
    type: object
    properties:
      operator_only:
        type: boolean
        description: If true, this stream is issued only to operational and maintenance reservations, never ordinary student activities.
      connection_type:
        type: string
      for:
        description: Describes the stream, and doubles as template key in the URL
        example: video
        type: string
      scopes:
        type: array
        items:
          type: string
      topic:
        type: string
      url:
        description: URL at which to obtain access to the stream (getting a redirect URL containing a one time code)
        example: https://relay-access.practable.io/session/abc123
        type: string
    required:
    - connection_type
    - for
    - scopes
    - topic
    - url
    
  Policy:
    description: used in uploading manifests (only includes its own description by reference)
    type: object
    properties:
      allow_start_in_past_within:
        type: string
      book_ahead:
        type: string
      description:
        type: string
      display_guides:
        type: array
        items:
          type: string
      enforce_allow_start_in_past:
        type: boolean
      enforce_book_ahead:
        type: boolean
      enforce_grace_period:
        type: boolean
      enforce_max_bookings:
        type: boolean
      enforce_max_duration:
        type: boolean
      enforce_min_duration:
        type: boolean
      enforce_max_usage:
        type: boolean
      enforce_next_available:
        type: boolean
      enforce_starts_within:
        type: boolean
      enforce_unlimited_users:
        type: boolean
      grace_period:
        type: string
      grace_penalty:
        type: string
      max_bookings:
        type: integer
      max_duration:
        type: string
      min_duration:
        type: string
      max_usage:
        type: string
      next_available:
        type: string
      slots:
        type: array
        items:
          type: string
      starts_within:
        type: string
    required:
      - description
      - slots
      
  PolicyDescribed:
    type: object
    properties:
      allow_start_in_past_within:
        type: string
      book_ahead:
        type: string
      description:
        $ref: '#/definitions/Description'
      display_guides:
        type: object
        additionalProperties:
          $ref: '#/definitions/DisplayGuide'
      enforce_allow_start_in_past:
        type: boolean    
      enforce_book_ahead:
        type: boolean
      enforce_grace_period:
        type: boolean
      enforce_max_bookings:
        type: boolean
      enforce_max_duration:
        type: boolean
      enforce_min_duration:
        type: boolean
      enforce_max_usage:
        type: boolean
      enforce_next_available:
        type: boolean
      enforce_starts_within:
        type: boolean
      enforce_unlimited_users:
        type: boolean
      grace_period:
        type: string
      grace_penalty:
        type: string
      max_bookings:
        type: integer
      max_duration:
        type: string
      min_duration:
        type: string
      max_usage:
        type: string
      next_available:
         type: string       
      slots:
        type: object
        additionalProperties:
          $ref: '#/definitions/SlotDescribed'
      starts_within:
        type: string
    required:
      - description
      - slots
      
  PoliciesDescribed:
    type: object
    additionalProperties:
      $ref: '#/definitions/PolicyDescribed'

  PolicyStatus:
    type: object
    properties:
      current_bookings:
        type: integer
      old_bookings:
        type: integer
      usage:
        type: string
    required:
      - current_bookings
      - old_bookings
      - usage
      
  Resource:
    type: object
    properties:
      class:
        description: optional experiment class used for catalogue grouping and search
        type: string
      config_url: 
        type: string
        format: url
      description:
        type: string
      properties:
        description: optional structured, filterable equipment characteristics
        type: object
        additionalProperties:
          type: string
      operations:
        $ref: '#/definitions/OperationalProfile'
      stream_operations:
        type: object
        additionalProperties: {$ref: '#/definitions/OperationalStreamBinding'}
      streams:
        type: array
        items:
          type: string
      topic_stub:
        type: string
      tests:
        type: array
        items:
          type: string
    required:
      - description
      - streams
      - topic_stub

  Resources:
    type: object
    additionalProperties:
      $ref: '#/definitions/Resource'

  OperationalWorkflow:
    description: Owner-approved bounded task contract; never an executable command or URL.
    type: object
    properties:
      description: {type: string}
      kind: {type: string, enum: [action, health_check]}
      expected_duration: {type: string, example: 10m}
      maximum_duration: {type: string, example: 15m}
    required: [description, expected_duration, maximum_duration]

  OperationalRetryPolicy:
    type: object
    properties:
      attempts: {type: integer, minimum: 0, maximum: 20}
      initial_delay: {type: string}
      backoff: {type: number}
      maximum_delay: {type: string}
      total_timeout: {type: string}
      retryable_codes: {type: array, items: {type: string}}

  OperationalFailureAction:
    type: object
    properties:
      type: {type: string, enum: [retry, choose_another, contact_support]}
      label: {type: string}
      url: {type: string}
    required: [type, label]

  OperationalFailureGuidance:
    type: object
    properties:
      title: {type: string}
      message: {type: string}
      actions: {type: array, items: {$ref: '#/definitions/OperationalFailureAction'}}

  OperationalProgressMessages:
    type: object
    properties:
      initial: {type: string}
      retry: {type: string}

  OperationalJobTemplate:
    type: object
    properties:
      workflow: {type: string}
      timeout: {type: string}
      parameters: {type: object, additionalProperties: {type: string}}
      allowed_overrides: {type: object, additionalProperties: {type: string, enum: [string, number, boolean, duration]}}
      retry: {$ref: '#/definitions/OperationalRetryPolicy'}
      progress_messages: {$ref: '#/definitions/OperationalProgressMessages'}
      failure_guidance: {$ref: '#/definitions/OperationalFailureGuidance'}
    required: [workflow, timeout]

  OperationalPipelineStage:
    type: object
    properties:
      name: {type: string}
      job_template: {type: string}
      wait_after: {type: string}
    required: [name, job_template]

  OperationalPipelineTemplate:
    type: object
    properties:
      stages: {type: array, items: {$ref: '#/definitions/OperationalPipelineStage'}}
      recovery: {type: array, items: {$ref: '#/definitions/OperationalPipelineStage'}}
      recovery_attempts: {type: integer, minimum: 0, maximum: 5}
      cleanup: {type: array, items: {$ref: '#/definitions/OperationalPipelineStage'}}
    required: [stages]

  OperationalParameterBinding:
    type: object
    properties:
      value: {type: string}
      from: {type: string}

  OperationalStreamBinding:
    type: object
    properties:
      activation_pipeline: {type: string}
      parameters: {type: object, additionalProperties: {$ref: '#/definitions/OperationalParameterBinding'}}
    required: [activation_pipeline]

  OperationalSchedule:
    type: object
    properties:
      slot: {type: string}
      workflow: {type: string}
      duration: {type: string, example: 10m}
      conflict: {type: string, enum: [require, skip]}
      recurrence: {$ref: '#/definitions/OperationalRecurrence'}
    required: [slot, workflow, duration, conflict, recurrence]

  OperationalRecurrence:
    description: A finite weekly civil-time occurrence pattern; end_date is inclusive.
    type: object
    properties:
      timezone: {type: string, example: Europe/London}
      start_date: {type: string, format: date, example: '2026-09-14'}
      end_date: {type: string, format: date, example: '2026-12-18'}
      weekdays:
        type: array
        items: {type: string}
      time: {type: string, pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$', example: '08:50'}
      exceptions:
        type: array
        items: {type: string, format: date}
    required: [timezone, start_date, end_date, weekdays, time]

  OperationalGuard:
    type: object
    properties:
      workflow: {type: string}
      duration: {type: string, example: 10m}
      applies: {type: string, enum: [always, outside_operating_window]}
      reclaimable: {type: boolean}
    required: [workflow, duration, applies]

  OperationalProfile:
    type: object
    properties:
      operating_window: {type: string}
      cost_owner: {type: string, description: Optional opaque roll-up identifier charged for scheduled work; defaults to the resource name.}
      before_booking:
        type: array
        items: {$ref: '#/definitions/OperationalGuard'}
      after_booking:
        type: array
        items: {$ref: '#/definitions/OperationalGuard'}
        
  Slot:
    type: object
    properties:
      description:
        type: string
      policy:
        type: string
      resource:
        type: string
      ui_set:
        type: string
      window:
        type: string
    required:
      - description
      - policy
      - resource
      - ui_set
      - window
      
  SlotDescribed:
    type: object
    properties:
      description:
        $ref: '#/definitions/Description'
      policy:
        type: string
    required:
      - description
      - policy

  ResourceStatus:
    type: object
    properties:
      available:
        type: boolean
      reason:
        type: string
    required:
    - available
    - reason

  ResourceStatuses:
    description: statuses keyed by resource or slot name
    type: object
    additionalProperties:
      $ref: '#/definitions/ResourceStatus'

  OperationalStatus:
    description: summary used by an administrator operations dashboard
    type: object
    properties:
      manifest_version:
        type: integer
        format: int64
      status:
        $ref: '#/definitions/StoreStatusAdmin'
      resources:
        $ref: '#/definitions/ResourceStatuses'
      slots:
        $ref: '#/definitions/ResourceStatuses'
    required:
    - manifest_version
    - status
    - resources
    - slots

  OperationalAlert:
    type: object
    required: [id, resource, stream, code, message, job_id, manifest_version, status, occurrences, first_seen, last_seen, acknowledged_by, resolved_by]
    properties:
      id: {type: integer, format: int64}
      resource: {type: string}
      stream: {type: string}
      code: {type: string}
      message: {type: string}
      job_id: {type: string}
      manifest_version: {type: integer, format: int64}
      status: {type: string, enum: [open, acknowledged, resolved]}
      occurrences: {type: integer, format: int64}
      first_seen: {type: string, format: date-time}
      last_seen: {type: string, format: date-time}
      acknowledged_at: {type: string, format: date-time}
      acknowledged_by: {type: string}
      resolved_at: {type: string, format: date-time}
      resolved_by: {type: string}

  OperationalStreamHealth:
    type: object
    required: [resource, stream, status, code, message, job_id, manifest_version, checked_at]
    properties:
      resource: {type: string}
      stream: {type: string}
      status: {type: string, enum: [healthy, unhealthy, unknown]}
      code: {type: string}
      message: {type: string}
      job_id: {type: string}
      manifest_version: {type: integer, format: int64}
      checked_at: {type: string, format: date-time}

  ResourceHold:
    type: object
    required: [resource, reason, held_since, held_by]
    properties:
      resource: {type: string}
      reason: {type: string}
      held_since: {type: string, format: date-time}
      held_by: {type: string}

  ResourceReleaseState:
    type: object
    required: [resource, state, required_streams, failing_streams, requested_at, requested_by, manifest_version, override_reason]
    properties:
      resource: {type: string}
      state: {type: string, enum: [pending_checks, verified, degraded_override]}
      required_streams: {type: array, items: {type: string}}
      failing_streams: {type: array, items: {type: string}}
      requested_at: {type: string, format: date-time}
      requested_by: {type: string}
      manifest_version: {type: integer, format: int64}
      override_reason: {type: string}
      released_at: {type: string, format: date-time}

  UsageSummary:
    description: aggregate actual equipment use derived from booking lifecycle timestamps
    type: object
    properties:
      actual_usage:
        type: string
      preparation_usage:
        type: string
      cleanup_usage:
        type: string
      scheduled_usage:
        type: string
      operational_jobs:
        type: integer
        format: int64
      started_bookings:
        type: integer
        format: int64
      completed_bookings:
        type: integer
        format: int64
    required:
    - actual_usage
    - preparation_usage
    - cleanup_usage
    - scheduled_usage
    - operational_jobs
    - started_bookings
    - completed_bookings

  StoreStatusAdmin:
    type: object
    properties:
      locked:
        type: boolean
      message:
        type: string
      now:
        type: string
        format: date-time
      bookings:
        type: integer
      descriptions:
        type: integer
      filters:
        type: integer
      old_bookings:
         type: integer
      policies:
        type: integer
      resources:
        type: integer
      slots:
        type: integer
      streams:
        type: integer
      uis:
        type: integer
      ui_sets:
        type: integer
      users:
        type: integer
      windows:
        type: integer
    required:
      - locked
      - message
      - now
      - bookings
      - descriptions
      - filters
      - old_bookings
      - policies
      - resources
      - slots
      - streams
      - uis
      - ui_sets
      - users
      - windows
      
  StoreStatusUser:
    type: object
    properties:
      locked:
        type: boolean
      message:
        type: string
      now:
        type: string
        format: date-time
    required:
      - locked
      - message
      - now

  UI:
    title: User Interface
    type: object
    properties:
      url:
        description: template for the URL for the user interface
        example: https://static.practable.io/ui/penduino-basic.html?video={{video}}&data={{data}}
        type: string
      streams_required:
        description: list of names of required streams
        example: ["data","video"]
        type: array
        items:
          type: string
          example: video
          description: stream name
      description:
        type: string
    required:
    - url
    - description

  UIDescribed:
    title: User Interface with description including
    type: object
    properties:
      url:
        description: template for the URL for the user interface
        example: https://static.practable.io/ui/penduino-basic.html?video={{video}}&data={{data}}
        type: string
      streams_required:
        description: list of names of required streams
        example: ["data","video"]
        type: array
        items:
          type: string
          example: video
          description: stream name
      description:
        $ref: '#/definitions/Description'
    required:
    - url
    - description
    
  UISet:
    title: set of User Interfaces
    type: object
    properties:
      UIs:
       type: array
       items:
         type: string
      
  User:
    type: object
    properties:
      bookings:
        type: array
        items:
          type: string
      groups:
        type: array
        items:
          type: string
      old_bookings:
        type: array
        items:
          type: string
      usage:
        type: object
        additionalProperties:
          type: string
          
  UserName:
    type: object
    properties:
      user_name:
        type: string
        
  Users:
    title: set of Users (export only)
    type: object
    additionalProperties:
      $ref: '#/definitions/User'
      
  Window:
    type: object
    properties:
      allowed:
        type: array
        items:
          $ref: '#/definitions/Interval'
      denied:
        type: array
        items:
          $ref: '#/definitions/Interval'
      recurring_allowed:
        type: array
        items:
          $ref: '#/definitions/WeeklyRecurrence'
      recurring_denied:
        type: array
        items:
          $ref: '#/definitions/WeeklyRecurrence'

  WeeklyRecurrence:
    description: A finite weekly civil-time interval. end_date is inclusive and an end_time not after start_time denotes an overnight interval.
    type: object
    properties:
      timezone: {type: string, example: Europe/London}
      start_date: {type: string, format: date, example: '2026-09-14'}
      end_date: {type: string, format: date, example: '2026-12-18'}
      weekdays:
        type: array
        items: {type: string}
      start_time: {type: string, pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$', example: '09:00'}
      end_time: {type: string, pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$', example: '17:00'}
      exceptions:
        type: array
        items: {type: string, format: date}
    required: [timezone, start_date, end_date, weekdays, start_time, end_time]

# Descriptions of common responses
responses:
  BadRequest:
    description: The request is malformed or exceeds calendar query limits
    schema:
      $ref: '#/definitions/Error'
  Conflict:
    description: The booking was changed, started, or conflicts with the proposed replacement
    schema:
      $ref: '#/definitions/Error'
  NotFound:
    description: The specified resource was not found
    schema:
      $ref: '#/definitions/Error'
  Unauthorized:
    description: Unauthorized
    schema:
      $ref: '#/definitions/Error'
  InternalError:
    description: Internal Error
    schema:
      $ref: '#/definitions/Error'
  ErrorList:
    description: List of errors (e.g. errors in client-provided data such as manifest)
    schema:
      $ref: '#/definitions/ErrorList'

tags:
- name: admin
  description: 'for admins only'
- name: users
  description: 'for users'
